.main{
    position: sticky;
    left: 50px;
    padding-left: 100px;
    background-colorr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.image{
display: flex;
position: absolute;
left: 645px;
top: 70px;
display: inline;
top: ;
bottom: ;
right: ;
}
a{
    text-decoration: none;
}
.link{
    background-color: rgba(7, 7, 202, 0.596);
    width: 300px;
    height: 40px;
    color: aliceblue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#a{
    color: #fff;
}
#f{
    font-weight: bold;
}

h5{
    position: relative;
    left: 150px;
}
.input{
    width: 300px;
    height: 28px;
}
#hedding{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    bottom: 20px;
    color:rgb(106, 34, 8);
    text-shadow: 2px 2px 2px gray;
}
form{
    position: relative;
    bottom: 20px;
}
#top-icons{
    width: 400px;
    height: 40px;
    background-color:;
    position: absolute;
    left: 510px;
    bottom: 460px;
   display: grid;
   grid-template-columns:auto auto auto auto auto ;
}
.icon{
    width: 20px;
    height: 20px;
}
.job{
    position: relative;
  
}
#join{
    box-shadow: 1px 0px  0px gray;
    height: 40px;
    position: relative;
    left: 400px;
    bottom: 60px;
}
#c{
    border: 1px solid;
    border-radius: 50px;
    background-color: ;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 540px;
    left:430px
}
button{
    width: 300px;
    border: 1px solid;
    border-radius: 50px;
    height: 40px;
}
.link:hover{
    background-color: darkblue;
}
.botton:hover{
    background-color: rgb(249, 245, 245);
}
.input:active{
 background-color: lightgray;
}
h5{
    max-width: 200px;
   
}
h5:before{
    content: "";
    width: 140px;
    height: 1px;
    display: block;
    background-color: black;
    position: relative;
    left: 20px;
    top: 11px;
}
h5:after{
    content: "";
    width: 140px;
    height: 1px;
    display: block;
    background-color: black;
    position: relative;
    right: 145px;
    bottom:10px;
}
#logo{
    width: 20px;
    height: 20px;
    position: relative;
    right: 10px;
    top: 5px;
}
#main-image{
    position: relative;
    top: 40px;
    
}
